numpy 
scipy==1.5.4
six 
smart-open==5.2.1
spacy==3.1.4
spacy-legacy==3.0.8
srsly==2.4.2
tensorboardX==2.4
thinc==8.0.12
tokenizers==0.10.3
toml==0.10.2
torch==1.8.0
tqdm==4.62.3
traitlets==4.3.3
transformers==4.7.0